body{
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    color: aliceblue;
    font-size: large;
}
h1{
    text-align: center;
}
h2{
    padding-top: 30px;
}
